In [ ]:
understanding the variables in python

In [ ]:
Rules for declaring the variables in python

In [ ]:
1 : No namespaces while declaring the variable name in python

In [2]:
ex: 
my name = "tanzeel ahmed"

SyntaxError: invalid syntax (1892733777.py, line 1)

In [3]:
myname = "tanzeel ahmed"

In [ ]:
2 : a variable name should not start with a number **

In [5]:
ex : 1name = "tanzeel ahmed"

SyntaxError: invalid decimal literal (2322615882.py, line 1)

In [6]:
name1 = "tanzeel ahmed"

In [ ]:
3 : A variable name should not contain any special character. @,*,%,$,& etc

In [7]:
ex : name@ = "tanzeel ahmed"

SyntaxError: invalid syntax (3408481933.py, line 1)

In [ ]:
Introduction to data types in python :

In [ ]:
1: strings===>str
2: numbers===>integers===>int===>floats===>float
3: list===>list
4: tuples===>tuple
5: dictionaries===>dict

In [ ]:
Note:- python is a case sensitive programming language.

In [ ]:
classification of data types.

In [ ]:
--> broadly the data types are classified into 2 types

In [ ]:
1. mutable data types:- 
-> which we can edit/alter ==> flexible in nature.
2. immutable data types:- 
-> which we cannot be able to edit==> these are fixed in nature.

In [ ]:
introduction to string data types .

In [ ]:
def-> A string is a series of a charecters declared in quotes.

In [ ]:
classification:- it is classified as immutable datatype.

In [ ]:
How to declare a string data type.
    There are 2 approaches 
1. single quote.
2. double quote.
    ex:

In [8]:
name = 'joseph'      #single quotes
print(name)

joseph

In [9]:
name2 = "joseph"     #double quotes
print(name2)

joseph

In [ ]:
Introduction to string methods.

In [11]:
type(name)

str

In [12]:
type(name2)

str

In [14]:
fullname = "tanzeel ahmed"
print(fullname)

tanzeel ahmed

In [ ]:
#req to correct the format

In [19]:
print(fullname.title())

Tanzeel Ahmed

In [ ]:
#req :  i want entire name in capital

In [20]:
print(fullname.upper())

TANZEEL AHMED

In [ ]:
#req : i want entire name in small

In [21]:
print(fullname.lower())

tanzeel ahmed

In [ ]:
Introduction to f string.**

In [42]:
firstname = 'dinesh'

In [43]:
lastname = 'kumar'

In [35]:
#grnral syntax of f strings.

In [38]:
f "custom message {place_holder1} {place_holder2}...{place_holdern}

In [57]:
fullname = f "{firstname} {latname}"

SyntaxError: invalid syntax (2243592444.py, line 1)

In [ ]:
i could not solve this error sir

In [ ]:
Adding white spaces to strings:

In [63]:
print("favourite_language:pythoncjavac++swift")

favourite_language:pythoncjavac++swift

In [65]:
print("favourite_language:\npython\nc\njava\nc++\nswift\n")

favourite_language:
python
c
java
c++
swift

In [67]:
print("favourite_language:\n\tpython\n\tc\n\tjava\n\tc++\n\tswift\n\t")

favourite_language:
	python
	c
	java
	c++
	swift

In [ ]:
Removing white spaces from strings.

In [68]:
name = "    python"
print(name)

    python

In [74]:
name.lstrip()

'python   '

In [70]:
name2 = "python   "
print(name2)

python

In [73]:
name.rstrip()

'python'

In [75]:
name3 = '   python'
print(name3)

   python

In [76]:
name.strip()

'python'