In [ ]:
introduction to numbers:

In [1]:
number = 123 
print(number)

123

In [2]:
type(number)

int

In [3]:
number = 0.1
print(number)

0.1

In [4]:
type(number)

float

In [ ]:
Introduction to list data types:
deff: A list is a collection of items defined in a perticular order.
    Classification : it is classifies as mutable data type(which we can edit/alter).

# How to define a list data type: 
ans--> Using sqare brackets []

In [5]:
students = ['arpita','ashwini','asma','bhuvan','david','karthik']
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik']

In [7]:
Introduction to indexing: 0,1,2,3,4,5,6,....
    # req : i want to access ashwini name in the output

SyntaxError: invalid syntax (4067305793.py, line 1)

In [8]:
print(students[1])

ashwini

In [10]:
print(students[1].title())

Ashwini

In [ ]:
# req: i want to access bhuvan name in the output

In [11]:
print(students[3])

bhuvan

In [12]:
print(students[3].title())

Bhuvan

In [ ]:
1. How to add elements in the list
2. How to modify the elements in the list 
3. How to delete the elements in the list

In [13]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik']

In [ ]:
# req: i want to add shafi name in the above list

In [17]:
students.append('shafi')

In [18]:
print(students)

['arpita', 'ashwini', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'shafi']

In [ ]:
# req: i want to add kaleem at 2nd index position

In [19]:
students.insert(2,'kaleem')

In [20]:
print(students)

['arpita', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'shafi']

In [ ]:
# req: i want to modify arpita to anand

In [22]:
students[0]=('anand')

In [23]:
print(students)

['anand', 'ashwini', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'shafi']

In [ ]:
# req: i want to delete ashwini name from the above list

In [24]:
del students[1]

In [25]:
print(students)

['anand', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi', 'shafi']

In [26]:
del students[7]

In [27]:
print(students)

['anand', 'kaleem', 'asma', 'bhuvan', 'david', 'karthik', 'shafi']