In [ ]:
organising the list data type:

In [9]:
cars = ['bmw','tata','suzuku','audi','toyota','benz',]
print(cars)

['bmw', 'tata', 'suzuku', 'audi', 'toyota', 'benz']

In [10]:
type(cars)

list

In [ ]:
# i want to organize the list in alphabetical order :
there are 2 approaches
1: Temporary approach =>sorted method
in this method we will be able to get the original order defined.
2: Permanent approach => sort method .

In [11]:
print(sorted(cars))

['audi', 'benz', 'bmw', 'suzuku', 'tata', 'toyota']

In [13]:
print(cars)

['bmw', 'tata', 'suzuku', 'audi', 'toyota', 'benz']

In [15]:
cars.sort()

In [16]:
print(cars)

['audi', 'benz', 'bmw', 'suzuku', 'tata', 'toyota']

In [ ]:
# req : i want to print the list in A - Z , Z - A

In [18]:
cars.reverse()

In [19]:
print(cars)

['toyota', 'tata', 'suzuku', 'bmw', 'benz', 'audi']

In [ ]:
Introduction to slicing :

In [27]:
students =['anika','arpita','bhushan','bhanu','chandra','cynthya','danish']

In [28]:
print(students)

['anika', 'arpita', 'bhushan', 'bhanu', 'chandra', 'cynthya', 'danish']

In [ ]:
# general syntax for slicing 
[start_value: stop_value: step_count

In [ ]:
# req :i want to include anika and arpita in the slice

In [29]:
print(students[0:2])

['anika', 'arpita']

In [38]:
print(students[0:6])

['anika', 'arpita', 'bhushan', 'bhanu', 'chandra', 'cynthya']

In [ ]:
Introduction to tuple data type: 
deff: An immutable list is called as tuple.
classification: It is classfied as an immutable data type
# How to define the tuple data type: Using '()' paranthesis.

In [39]:
dimensions = (20,50)
print(dimensions)

(20, 50)

In [40]:
type(dimensions)

tuple